{% extends 'index.html' %}

{% block titulo %}La academia{% endblock  %}

{% block contenido %}

<div id="fh5co-wireframe" style="padding: 7em 0; clear: both; border: none !important;">
    <div class="container" style="margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px;">
        <div class="row animate-box" style="display: flex; justify-content: center;">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading" style="text-align: center;">
                <h2 style="font-size: 40px; margin-bottom: 20px; line-height: 1.5; color: #000; ">Wireframe Connects the Underlying Conceptual Structure</h2>
            </div>
        </div>
        <div class="row" style="margin-left: -15px; margin-right: -15px;">
            <div class="col-md-5 animate-box" style="position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px;">
                <div class="user-frame" style="padding: 3em; box-shadow: 0px 0px 24px 0px rgb(0 0 0 / 13%);">
                    <h3>Wireframe Connects the Underlying Conceptual Structure</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    <span>Lucia Lopez</span><br>
                    <small>CEO, Fundador</small>
                </div>
            </div>
            <div class="col-md-7 animate-box" style="padding: 3em;">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                <blockquote>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </blockquote>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts far from the countries Vokalia and Consonantia, there live the blind texts. far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
        </div>
    </div>
</div>

{% endblock  %}